<mapper namespace="user">
    <select id="selectOne" paramterType="com.github.cdtft.daotest.pojo.User" resultType="com.github.cdtft.daotest.pojo.User">
        select * from user where id = #{id}
    </select>

    <select id="selectAll" resultType="com.github.cdtft.daotest.pojo.User">
        select * from user
    </select>
</mapper>